@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


html, body {
    margin:0; 
    background-color: black;
    font-family: 'Ubuntu', Arial, sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
}


h1 {
    font-weight: bold;
    font-size: 6vw;
}

p {
    font-size: 3vw;
}

.boxed {
    margin: auto;
    align: center;
    text-align: center;
    /*background: rgba(255, 255, 255, 0.15);
    border-radius: 40px;*/
    width: 60%;
    min-width: 30px;
    height: 50%;
    min-height: 120px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    margin-right: -50%; 
    transform: translate(-50%, -50%);
    display:table;
    padding-right: 20px;
}

span {
    display:table-cell; 
    vertical-align:middle;
}


#triangle-topleft {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%; 
    left: 50%; 
    margin-right: -50%; 
    transform: translate(-51%, -55%);
    border-top: 48vh solid rgba(255, 255, 255, 0.2);
    border-right: 68vw solid transparent;
}
    
#triangle-bottomright {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%; 
    left: 50%; 
    margin-right: -50%; 
    transform: translate(-55%, -49%);
    border-bottom: 48vh solid rgba(255, 255, 255, 0.3);
    border-left: 68vw solid transparent;
}

#hidden {
    color: rgba(255, 255, 255, 0);
    text-decoration: none !important;
}


#share-buttons img {
    width: 35px;
    padding: 5px;
    border: 0;
    box-shadow: 1;
    display: inline;
    filter: none;
     -webkit-filter: grayscale(100%); 
     -moz-filter: grayscale(100%); 
     -ms-filter: grayscale(100%); 
     -o-filter: grayscale(100%);
    cursor: pointer; 
    transition: all 400ms ease;
}

#share-buttons img:hover { 
    filter: none; 
     -webkit-filter: grayscale(0%); 
     -moz-filter: grayscale(0%); 
     -ms-filter: grayscale(0%); 
     -o-filter: grayscale(0%); 
    cursor: pointer; 
}


/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*Content added here for the side menu and tilting screen*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/


.actualBody{
    padding: 20px;
    z-index: 0;
}

.fullScreenTilt {
    padding:0;
    background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("https://nextcloud.kleinefamilie.tk/apps/files_sharing/publicpreview/p3J8sBGrcbjogtz?x=1080&y=1248&a=true&file=bkground.jpeg&scalingup=0") no-repeat center center fixed black;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
    background-size: cover;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    transition: all 2s ease;
    border-right: 1px solid black;
    height: 100%;
    width: 100vw;
    transition: 0.6s ease-out;
    -webkit-transition: 0.6s ease-out;
    -o-transition: 0.6s ease-out;
    -moz-transition: 0.6s ease-out;
    /*box-shadow: 2px 2px 3px grey;*/
}

.fullScreenTilt.angled {
    transform: perspective(80px) rotateY(1deg) translateX(-30px) scaleY(0.92) scaleX(0.85);
    box-shadow: 5px 10px 30px grey;
}


.menuButton {
    background: grey;
    background: rgba(77,77,77,0.8);
    position: fixed;
    width: 26px;
    height: 40px;
    right: 3px;
    top: 80px;
    z-index: 1;
    border-radius: 10px 0 0 10px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
}

.menuButton:hover {
    cursor: pointer;
}


.menuButton .icon {
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    background-color: #f1f1f1/*#008BCB*/;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
}

.menuButton .icon:first-child {
    bottom: 25%;
    margin-left: 42%;
}
.menuButton .icon:nth-child(2) {
    bottom: 45%;
    margin-left: 42%;
}
.menuButton .icon:nth-child(3) {
    bottom: 65%;
    margin-left: 42%;
}

.menuButton.open {
    width: 40px;
    right: 130px;
}

.menuButton.open .icon:first-child {
    bottom: 45%;
    width: 70%;
    transform: rotate(45deg);
    border-radius: 2px;
    margin-left: 15%;
}
.menuButton.open .icon:nth-child(2) {
    opacity: 0;
    margin-left: 15%;
}
.menuButton.open .icon:nth-child(3) {
    bottom: 45%;
    width: 70%;
    transform: rotate(-45deg);
    border-radius: 2px;
    margin-left: 15%;
}


.sideMenu {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: grey;
    background: rgba(77,77,77,0.8);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
}

.sideMenu.menuShow {
    width: 130px;
}

.menuInner {
    width: 115px;
    padding-top: 60px;
    padding-left: 15px;
    text-decoration: none;
    color: white;
    text-align: center;
}

a:link { color: white; text-decoration: none}
a:visited { color: white; text-decoration: none}
a:hover { color: #3366CC; text-decoration: underline}
a:active { color: white; text-decoration: none}
