/*

Made by Steven Small, 2020.06.11
Copyright 2020
All Rights Reserved

*/

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
	margin: 0;
	font-family: 'Ubuntu', Helvetica, sans-serif;
	font-size: 14pt;
	min-width: 520px;
}

/* Page content */
.content {
	padding: 1px 60px 230px 60px;
	text-align: justify;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	max-width: 840px;
	z-index: 0;
	font-size: 14pt;
}

.preHeader {
	padding: 1px;
	background: #cc5500;
	text-align: left;
	padding-left: 20%;
}

.quote {
	visibility: hidden;
	font-size: 11pt;
}

.quoteShow{
	visibility: visible;
}

.header {
	z-index: 1;
	width: 100%
}

.headerInner {
	padding-top: 25px;
	padding-left: 65px;
	background-color: #555;
	color: #f1f1f1;
	height: 63px;
	font-size: 20pt;
	font-weight: bold;
	transition: box-shadow 410ms ease-out;
	 -webkit-transition: box-shadow 410ms ease-out;
	 -moz-transition: box-shadow 410ms ease-out;
	 -o-transition: box-shadow 410ms ease-out;
}

.sticky {
	position: fixed;
	top: 0;
	min-width: 520px;
}


.portrait {
	width: 50%;
	max-width: 250px;
	border-radius: 50%;
	margin-top: -20px;
	margin-bottom: 20px;
	border: 4px solid #cc5500;
	box-shadow: 0 3px 8px #555;
	transition: all 110ms ease;
	 -webkit-transition: 110ms ease;
	 -moz-transition: 110ms ease-out;
	 -o-transition: 110ms ease;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	z-index: 2;
}

.stickyPortrait {
	position: fixed;
	top: 0;
	right: 0;
	width: 120px;
	/* top right bottom left */
	margin: 10px 180px 3px 400px;
	/*transform: translate(58vw, 55px);*/
	border: 2px solid #cc5500;
}

.hiddenlink {
	color: #004d99;
	text-decoration: none !important;
}

.shadow {
   	box-shadow: 0 3px 8px #888888;
}


.sticky + .content {
	padding-top: 180px;
}

.shoutout{
	position: relative;
	background: #ffe6e6;
	/*float: left;*/
    	display: block;
	margin-top: 20px;
    	margin-left: auto;
	margin-right: auto;
	border-radius: 7px;
	box-shadow: 0 2px 6px #888888;
	padding: 12px;
	text-align: center;
	text-size: 12pt;
	width: 370px;
}




.footer {
	background: #cccccc;
	color: #808080;
	text-align: center;
		  /* top right bottom left */
	padding: 20px 120px 80px 120px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	z-index: 0;
	font-size: 10pt;
}


