/* Created by Steven Small*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    margin: 0;
    font-family: 'Ubuntu', Helvetica, sans-serif;
    font-size: 24pt;
}

.portrait {
    width: 700px;
    max-width: 40%;
    border-radius: 50%;
    margin-top: -44px;
    margin-bottom: -100px;
    border: 4px solid #cc5500;
    box-shadow: 0 3px 8px #555;
    transition: all 110ms ease;
     -webkit-transition: 110ms ease;
     -moz-transition: 110ms ease-out;
     -o-transition: 110ms ease;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: 30%;
    z-index: 2;
}

.preHeader {
    padding: 1px 16px;
    background: #cc5500;
    text-align: left;
    padding-left: 20%;
}

.header {
    z-index: 1;
}

.headerInner {
    padding: 0.8em;
    background-color: #555;
    color: #f1f1f1;
    font-size: 1.4em;
    font-weight: bold;
    transition: box-shadow 410ms ease-out;
     -webkit-transition: box-shadow 410ms ease-out;
     -moz-transition: box-shadow 410ms ease-out;
     -o-transition: box-shadow 410ms ease-out;
}

/* Page content */
.content {
    padding: 150px 30px 30px 30px;
    margin-left: 50px;
    margin-right: 50px;
    z-index: 0;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.stickyPortrait {
    width: 80px;
    max-width: 50%;
    margin-right: 0;
    transform: translate(-10vw, -12px);   
    border: 2px solid #cc5500;
}

.shadow {
    box-shadow: 0 3px 8px #888888;
}


.sticky + .content {
    padding-top: 140px;
}
